---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Frame from '../components/Frame.astro';
import Mint from '../components/Mint.astro';
import * as million from 'Million';

  const FakeWallet = {
    isConnected: function()  { return false },
  }
  console.log("Calling total_supply");
  let total = await million.totalSupply({wallet: FakeWallet});
  let uris = []
  for (let i=0; i < total; i++) {
    let data = await million.tokenUri({token_id: i}, {wallet: FakeWallet});
    uris.push(data);
  }
  console.log(total);


---

<Layout title="million lumen homepage">
	<main>
    <div class="page" id="page-1">
      <div class="content">
      
        <Frame src="https://art.ngfiles.com/images/3237000/3237261_tbadriel_sea-view.png?f1685553647"  id="frame" />
        <div class="title">
          <b><em>million lumen homepage</em></b><br />
          <b>Stellar Community</b><br />
          <small>Pixel art - 4096 NFTs of 256px - futurenet</small>
        </div>
      </div>  
    </div>
    <div class="page" id="page-2">
      <div class="content">
      
        <h1>Explore the new capabilites of stellar with the soroban smart contract platform</h1>
        <div style="width: fit-content; margin: auto; font-size: 2rem;">
          <p>Install <a href="https://www.freighter.app/" target="_blank">freighter</a></p>
          <p>&nbsp;↳Create an account</p>
          <p>&nbsp;&nbsp;↳Switch to <b>futurenet</b></p>
        </div>
        <Mint />
        <h2>Each NFT gives you access to your own page to build new NFTs and show off your minted or owned art</h2>
        <h3>NFTs composing this fresque:</h3>
      </div>
    </div>
	</main>
</Layout>
<script>
</script>
<style>
.page {

   /* Page 100% height */
   min-height: 100vh;

   /* Limit width and center page (*) */
   max-width: 100vw;
   margin: 0 auto;

   /* Align content vertically */
   display: flex;
   align-items: center;

   /* Column background */
   /*background: #fff;*/
}

.content {

   /* Extend content width */
   width: 100%;

  padding-left: 1em;
  padding-right: 1em;
}

#page-1 {
  background-color: #cde;
}
#page-2 {
  background-color: #ffeeff;
}

	main {
		color: black;
		font-size: 20px;
		line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
	}
  .title {
    background-color: black;
    color: white;
    padding: 1em;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 1.5em;
    width: fit-content;
    margin: auto;
    font-size: 1rem;
  }
 
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	h2 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
