---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Frame from '../components/Frame.astro';
import Mint from '../components/Mint.astro';
import * as million from 'Million';

  const FakeWallet = {
    isConnected: function()  { return false },
  }
  console.log("Calling total_supply");
  let total = await million.totalSupply({wallet: FakeWallet});
  let uris = []
  for (let i=0; i < total; i++) {
    let data = await million.tokenUri({token_id: i}, {wallet: FakeWallet});
    uris.push(data);
  }
  console.log(total);


---

<Layout title="million lumen homepage">
	<main>
    <Frame src="https://art.ngfiles.com/images/3237000/3237261_tbadriel_sea-view.png?f1685553647"  id="frame" />
    <div class="title">
      <b><em>million lumen homepage</em></b><br />
      <b>Stellar Community</b><br />
      <small>Pixel art - 4096 NFTs of 256px - futurenet</small>
    </div>
    <!--
    <p class="slide">
      Community driven
    </p>
    <p class="slide">
      <b>1&nbsp;048&nbsp;576</b> pixels
    </p>
    <p class="slide">
      <b>4096</b> NFTs
    </p>
    <p class="slide">
      <b>Soroban</b> ERC721
    </p>
-->
      <div style="text-align: center; font-size: 4rem;position: absolute; top: 90vh;right: 50vw;width: 1rem;color: #eee;">⇣<!--↯--></div>
    <div class="description">
      <h1>
      Explore the new capabilites of stellar with the soroban smart contract platform
      </h1>
      <div style="width: fit-content; margin: auto; font-size: 2rem;">
        <p>Install <a href="https://www.freighter.app/" target="_blank">freighter</a></p>
        <p>&nbsp;↳Create an account</p>
        <p>&nbsp;&nbsp;↳Switch to <b>futurenet</b></p>
      </div>
      <Mint />
      <h2>Each NFT gives you access to your own page to build new NFTs</h2>
    </div>
	</main>
</Layout>
<script>

//let data = await fetch("/supply");
//console.log(data)

function slide(i: number)  {
  let slides = document.getElementsByClassName("slide");
  let length = slides.length;
  for (let n=0; n < slides.length; n++) {
    slides[n].style.visibility = "hidden";
    slides[n].style.opacity = 0;
    slides[n].style.position = "absolute";
    slides[n].style.top = 0;
  }
  slides[i % length].style.position = "relative";
  slides[i % length].style.top = "1rem";
  slides[i % length].style.visibility = "visible";
  slides[i % length].style.opacity = 1;

  slides[i % length].style["text-align"] = i % 2 == 0 ? "right":"left";


  i += 1;
  setTimeout(slide, 5000, i);
}
//slide(0)
</script>
<style>
	main {
		padding: 2rem;
		color: black;
		font-size: 20px;
		line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
	}
  .title {
    background-color: black;
    color: white;
    padding: 1em;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 1.5em;
    width: fit-content;
    margin: auto;
    font-size: 1rem;
  }
  .description  {
    position: absolute;
    top: 100vh;
  }
 
  .slide {
    font-size: 2rem;
    visibility: hidden;
    transition: visibility 0s, opacity 1s ease-in-out;
    width: "fit-content";
    position: relative;
    top: 1rem;
  }
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	h2 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
